h1 {

}

p{

}

#head {
    text-align: center;
    background: rgb(65, 97, 65);
    color: white;
}

.row {
    text-align: center;
}

.small-4 {
    background: rgb(216, 164, 33);
    border-radius: 25px;
    padding: 10px;
}

.auto {
    background: white;
}

.leftbox {
    margin-right:10px;
}

.rightbox {
    margin-left:10px;
}

