
.root {
    align-content: center;
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

p{


}

#head {
    padding: 15px;
    text-align: center;
    background: rgb(65, 97, 65);
    color: white;
    height: 150px;
    width: 100%;
}

.grid-x {
    width: 100%;
    position: fixed;
    top: 100px;
}

.small-4 {
    background: rgb(216, 164, 33);
    border-radius: 25px;
    padding: 10px;
}

.auto {
    background: white;
    opacity: 0;
}